<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure Date: </div>
    <div><%= flight.departs %></div>
</section>

<hr>

<!-- <form action="/tickets/new/<%= flight._id %>">
    <a href="../tickets/new.ejs/"><button>Add Ticket</button></a>
</form> -->
<a href="/flights/<%= flight._id %>/tickets/new"><button>Add Ticket</button></a>

<hr>

<h2>Add Destinations</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>Airport:
    <select name="airport">
      <% availableAirports.forEach(function(airport) { %>
        <option value="<%= airport %>"><%= airport %></option>
      <% }); %>
    </select>
  </label><br>
  <label>Arrival Date:
    <input type="datetime-local" name="arrival" value="<%= new Date().toISOString().slice(0, 16) %>">
  </label><br>
  <input type="submit" value="Add Destination">
</form>

<hr>

<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrvial Date</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <!-- .toLocaleDateString() provides a more friendly date format -->
            <td><%= d.airport %></td>
            <td><%= d.arrival.toLocaleDateString() %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No destinations added.</h5>
  <% } %>


<%- include('../partials/footer') %>